<div class="col-md-9 col-xs-12 mt-3" *ngIf="!page?.empty">
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="page?.first">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>

      <li class="page-item" aria-current="page" *ngFor="let num of numbers" [class.active]="pageNumber == num + 1">
        <a class="page-link" (click)="goToPage(num + 1)">{{num + 1}}</a>
      </li>

      <li class="page-item" [class.disabled]="page?.last">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
